
.settings/.jsdtscope

.project

.svn/entries

*.post

*.pre

*.svn-base

.myumldata

.svn

*.prefs

.settings/org.eclipse.wst.common.component

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

qushop.log
.idea/*

classes/*

.settings/com.genuitec.eclipse.core.prefs

.settings/com.genuitec.eclipse.j2eedt.core.prefs

.settings/com.genuitec.jboss.ide.eclipse.xdoclet.run.prefs

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.core.prefs

/WebContent

WebRoot/etc/jdbc.properties

WebRoot/etc/jdbc.properties

musicians.iml
