table.first img {
	width: 60px;
	height: 60px;
	float: left;
}

table.first img+span {
	display: inline-block;
	vertical-align: inherit;
	line-height: 60px;
	padding-left: 8px;
}
table.first  tr td:not([colspan]){
	vertical-align: middle;
	text-align: center;
}
.tab-content{
	padding: 10px;
}