table.address-list .default{
	float: right;
	padding: 2px 5px;
	border: 1px solid #ff3800;
  	border-radius: 3px;
  	background: #ffd6cc;
  	color: #f30;
}
table.address-list .default-value{
	line-height: 24px;
}
table.address-list td a.like,
table.address-list td a.edit,
table.address-list td a.remove{
	margin: 0 5px;
}
.modal.edit-address .modal-body > p{
	margin: 10px 15px 0;
	font-size: 14px;
}
.modal.edit-address .modal-body .address{
	overflow: hidden;
}
.modal.edit-address .modal-title{
	font-size: 18px;
}