div.fixed-table-container{
	height: auto !important;
}
.container > .well{
	margin-top: 20px;
}
.buy-btn-group{
	margin-top: 10px;
}
.buy-btn-group{
	margin-top: 10px;
}
.small-icon ul li:not(:last-child){
	margin-bottom: 10px;
}
.small-icon ul li img{
	width: 60px;
	height: 75px;
}
.small-icon ul li div{
    width: 66px;
    height: 81px;
    text-align: center;
    padding: 2px;;
}
.small-icon ul li.active div{
    border: 1px solid #fabd00
}
/* rent modal */
div.rent.modal .modal-dialog .modal-content{
	padding: 8px;
}
nav .badge{
	background-color: #2B773B;
}
.modal-title{
	font-size: 18px;
}
div.rent.modal .modal-body > .row{
	margin-bottom: 10px;
}
div.rent.modal .modal-body > .row.name label:last-child{
	padding-left: 0;
}
div.rent.modal .modal-body > .row.table{
	padding-left: 95px;
}
div.rent.modal .modal-body > .row > label.control-label{
	width: 90px;
}
div.rent.modal .modal-body > .row > label.price{
	padding-left: 0;
}
div.rent.modal .modal-body > .row > .heji label{
	width: 60px;
}